<br>
<div class="row">
  <div class="col-lg-7 col-md-6 col-sm-10 col-xs-10">
    <p class="lead"><b>English Premier League</b></p>
    <p class="text-justify">
      This is a basic angularJs web application which is about english premier league club matches.
      It is an SPA containing few views which includes 'all matches view', 'single match view' and
      'rankings view'.
    </p>
    <p>
      <b>Click on the other navigation links to explore more.</b>
    </p>
    <p class="lead"> <b> Technologies used </b></p>
    <p>
      Html, Css, Javascript, Bootstrap, AngularJS
    </p>
  </div>
</div>
<br><br>